<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/forgotPassword.css">
</head>

<body>
    <form action="/user/forgotPassword" method="post">
        <h1 class="heading">Forgot Password</h1>
        <%if(err) {%>
            <div>
                <%=err%>
            </div>
            <%}%>
                <p>Enter your email Id</p>
                <input type="email" name="email" id="forgotPassword" class="forgotPassword"
                    placeholder="Enter your email here...">
                <button type="submit" class="submitBtn">Reset Password</button>
    </form>
</body>

</html>