<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </nav>
  <div class="animated-background">
    <form action="/user/login" method="post">
      <label for="email">
        <h1 class="animated-heading">Email:</h1>
      </label>
      <input type="email" id="email" name="email" required />

      <!-- <label for="name"><h1 class="animated-heading">Name:</h1></label>
        <input type="text" id="name" name="name" required /> -->

      <label for="password">
        <h1 class="animated-heading">Password</h1>
      </label>
      <input type="password" id="password" name="password" required />
      <p>New Customer. <a href="/user/register">Click here to register</a></p>
      <p>New Customer. <a href="/user/forgotPassword">forgot password?</a></p>
      <button type="submit" class="animated-submit-button">Submit</button>
    </form>
  </div>
</body>

</html>