<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/forgotPassword.css">
</head>

<body>
    <form action="/user/resetPassword" method="post">
        <h1 class="heading">Reset Password</h1>
        <p>Reset Your Password From Here</p><br>
        Password:<input type="password" name="password" id="forgotPassword" class="forgotPassword"
            placeholder="Enter Password...">
        Confirm Password:<input type="password" name="confirmPassword" id="forgotPassword" class="forgotPassword"
            placeholder="Enter Confirm Password...">
        <button type="submit" name="userId" value="<%=userId%>" class="submitBtn">Reset Password</button>
    </form>
</body>

</html>